/* Give background color and align the text to center.*/

body {
    /*Add the codes here*/
    /* text-align at center and background color */
    text-align: center;
    background-color: #f0e8c5;
}

div {
   /*Add the codes here*/
    /*let's give some margin so that the image section will be differentiated from other components*/
  margin: 15px;
    
}

.image-section {
    /*Debug the content of images as flexible 
    use flex;*/
    display: flx;
    /*Debug the centering the content
    use center*/
    justify-content: cnter;
}

.section-style {
    /*Debug the code margin right and left 
    use margin-left and margin-right */
    marginleft: 25px;
    marginright: 25px;
    background-color 
    /*Debug the code for background color
    use background-color.*/
    bacground-color: white;
}








